<div *ngIf="data" class="post-container">
<ng-container *ngFor="let item of data" class="post-container">
  <nz-card style="width:400px;" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
  <nz-card-meta
    nzTitle="Card title"
    nzDescription= {{item.description}}
    [nzAvatar]="avatarTemplate"
  >
</nz-card-meta>
<div>{{item.description}}</div>
</nz-card>
<ng-template #avatarTemplate>
  <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
</ng-template>
<ng-template #coverTemplate>
  <img  [src]="item.pictureUrl" alt="post picture" class="pic">
</ng-template>
<ng-template #actionSetting>
  <i nz-icon nzType="setting"></i>
</ng-template>
<ng-template #actionEdit>
  <i nz-icon nzType="edit"></i>
</ng-template>
<ng-template #actionEllipsis>
  <i nz-icon nzType="ellipsis"></i>
</ng-template>
</ng-container>
</div>
